*{
    color: white;
}

.follower{
    border-radius: 50px;
    width: 100px;
    height: 100px;
    background-color: white;
    position: absolute;
    transition: all 100ms;
    transform: translate(-50px, -50px)
}